:root {
    --footer-background-color: rgb(99, 0, 99);
    --footer-fontsize: 0.9em;
}

footer {
    flex-grow: 1; /* si fuera 0, se ajusta sólo al contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--footer-background-color);
    padding: 1rem;
    font-size: var(--footer-fontsize);
    text-align: center;
    color:aliceblue;
}

footer div {
    margin-top: .6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer div a , footer div a img {
    display: grid;
    place-items: center;
    border-radius: 100%;
    width: 30%;
    height: 100%;
    transition: transform 0.5s;
}

footer div a:hover > img {
    transform: scale(1.2);
}

footer p {
    margin-top: 1.3rem;
    margin-bottom: .6rem;
}