:root {
    --scrollbar-background: rgb(61, 61, 61);
    --scrollbar-color-selected: rgb(23, 23, 23);
    --scrollbar-color: rgb(93, 93, 93);
}

::-webkit-scrollbar , ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-background);
    height:1rem;
    width:.5rem;
}

::-webkit-scrollbar:horizontal , ::-moz-scrollbar {
    background-color: var(--scrollbar-background);
    height:.5rem;
    width:1rem;
}

::-webkit-scrollbar-thumb {
    --tw-border-opacity:1;
    background-color:var(--scrollbar-color);
    border-color:rgba(255,255,255,var(--tw-border-opacity));
    border-radius:9999px;
    border-width:1px
}

::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity:1;
    background-color: var(--scrollbar-color-selected);
}

::-moz-scrollbar-track {
    border-radius:9999px;
}

::-webkit-scrollbar-track {
    border-radius:9999px;
    background-color: var(--scrollbar-background);
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}